
<body>
  <div class="covid19Container">
    <div class="covid19Content">
  <p>Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
  <br>
  The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding close contact (1 meter or 3 feet) with people who are unwell.
  <br>
  <hr>
  <spam>
  How it spreads
</spam>
  <br>
  Coronavirus disease spreads primarily through contact with an infected person when they cough or sneeze. It also spreads when a person touches a surface or object that has the virus on it, then touches their eyes, nose, or mouth.</p>
    </div> 
    <br>
    <div class="covidLinkContainer">
      <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" class="covidLink">
        <i class="fa fa-globe" aria-hidden="true"></i> Learn more on who.int
      </a>
    </div>
    
</div>
</body>

<style>
  .covid19Container{
    background: rgb(101,106,162);
    background: linear-gradient(125deg, rgba(101,106,162,1) 0%, rgba(241,144,151,1) 72%, rgba(204,102,116,1) 100%);
    margin: 2%;
    border-radius: 20px;
  }
  .covid19Content{
    font-size: 22px;
    position: relative;
    font-weight: 600;
  }
  spam{
    font-size: 25px;
    font-weight: 800;
  }
  .covidLinkContainer{
    position: relative;
    margin: 5%; 
    text-align: center;
  }
  .covidLink{
    background: rgb(155,101,162);
background: linear-gradient(125deg, rgba(155,101,162,1) 0%, rgba(144,193,241,1) 100%, rgba(204,102,116,1) 100%);
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
  }
</style>