<!DOCTYPE html>
<html>
    <head>
        <title>
            Navbar
        </title>
        <link rel="Stylesheet" href="/stylesheets/nav.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navContainer">
            <div class="header-left">
                <p><i class="fa fa-chevron-right" aria-hidden="true"></i><a href="/">SCOOPRESS</a>
                </p>
            </div>
            <div class="top-header-right">
            <div class="header-right" id="header-right">
                <a href="/news" class="link">News</a>
                <a href="/workers" class="link">Health Workers</a>
                <a href="/login" class="link">Login</a>
            </div>
            <div class="header-right">
                <a href="javascript:void(0);" class="icon" id="icon" onclick="navBar()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        </div>
        <script src="/javascripts/nav.js">
        </script>
    </body>
</html>