<form action="/healthWorkers" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name">
      <textarea name="body" id="" cols="50" rows="5" class="textarea" placeholder="About the person"></textarea>
      <input type="text" name="link" placeholder="Contact Link">
      <br>
      <input type="file" name="file" id="file" class="">
      <label for="file" class="">Choose File</label>
    <input type="submit" value="Submit" class="">
  </form>